p{
    margin: 0;
}

*{
    outline: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5{
    margin: 0;
    font-weight: normal;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

.dn {
  position: absolute;
  left: -10000px;
}
body {
  background: $gray;
}
h1 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: $gray;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  text-transform: uppercase;
  span {
    color: $peach;
  }
}
ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    position: relative;
    margin: 0;
    padding: 0 0 5px 20px;
    &:last-child {
      padding-bottom: 0;
    }
    &:after {
      position: absolute;
      left: 5px;
      top: 7px;
      content: '';
      width: 7px;
      height: 7px;
      background: $black;
    }
  }
}
h2 {
  background: $peach;
  color: $gray;
  margin-bottom: 20px;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
  .columns & {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
  }
}
h3 {
  font-size: 16px;
  line-height: 20px;
}
a {
  color: $blue;
  &:hover {
    color: $peach;
  }
}
p {
  font-size: 16px;
  line-height: 20px;
}
.tabContainer {
  margin-bottom: 0.9375rem;
  .tabContent {
    position: absolute;
    left: -10000px;
    top: 0;
    &.active {
      position: relative;
      left: 0;
    }
  }
  &.main {
    .js & {
      .tab {
        position: relative;
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
}
.scale {
  width: 100%;
  height: auto;
}
.inner {
  max-width: 996px;
  margin: 0 auto;
  position: relative;
}