//breakpoints
$mobile: '(max-width: 767px)';
$tablet: '(min-width: 768px)';
$desktop: '(min-width: 1025px)';

$blue: #00A0B0;
$brown: #6A4A3C;
$red: #CC333F;
$peach: #EB6841;
$yellow: #EDC951;
$gray: #F9F2E7;
$white: #ffffff;
$black: #413E4A;
