<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="lakodalmas zenekar, party zenekar, zenekar esküvőre">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="z5aDkPooXqXy9E_XFJs0xcatnf8uimT5IwhfmEmoIPU" />
    <link href="src/assets/img/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
